.contact,
.contact * {
  box-sizing: border-box;
}
.contact {
  background: #ffffff;
  height: 1160px;
  position: relative;
  overflow: hidden;
}
.navigation-footer {
  background: #ffffff;
  height: 264px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}
.items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 517px;
  top: 48px;
}
.topic {
  color: #000000;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.page {
  color: #454545;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.items2 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 298px;
  top: 48px;
}
.items3 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 80px;
  top: 48px;
}
.site-name {
  color: #000000;
  text-align: left;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 24px);
  line-height: var(--subheading-line-height, 150%);
  font-weight: var(--subheading-font-weight, 400);
  position: absolute;
  left: 80px;
  top: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.social-icons {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 80px;
  top: 176px;
}
.buttons-icon {
  border-radius: 4px;
  padding: 8px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.icon2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.icon3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.icon4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.divider {
  margin-top: -1px;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 1px 0 0 0;
  width: 1280px;
  height: 0px;
  position: absolute;
  left: 80px;
  top: 1px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.contact-kayz-digital {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 469px;
  top: 186px;
  width: 503px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-kayz-digital-span {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 700;
}
.contact-kayz-digital-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 400;
}
.contact-kayz-digital-span3 {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 700;
}
.navigation {
  background: #ffffff;
  height: 164px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.items4 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-m, 48px);
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 80px;
  top: 56px;
}
.nos-r-alisations {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact2 {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kayz-digital {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: absolute;
  left: 80px;
  top: 67px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.telephone {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: #9297ff;
  width: 624.95px;
  height: 594px;
  position: absolute;
  left: 80px;
  top: 267px;
}
.numero-de-telephone {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
  position: absolute;
  left: 230.5px;
  top: 697px;
  width: 322.51px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rapide-et-efficace {
  color: #000000;
  text-align: center;
  font-family: "Inter-Light", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 300;
  position: absolute;
  left: 168.87px;
  top: 646px;
  width: 447.21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactez-nous-par-telephone {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 151.67px;
  top: 512px;
  width: 481.61px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone {
  width: 212px;
  height: 212px;
  position: absolute;
  left: 286px;
  top: 290px;
  object-fit: cover;
}
.formulaire {
  position: absolute;
  inset: 0;
}
.rectangle-12 {
  background: #9297ff;
  width: 624.95px;
  height: 594px;
  position: absolute;
  left: 734.95px;
  top: 267px;
}
.envoyez-nous-un-mail-nous-vous-recontacterons-dans-les-meilleurs-delais {
  color: #000000;
  text-align: center;
  font-family: "Inter-Light", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 300;
  position: absolute;
  left: 823.82px;
  top: 616px;
  width: 447.21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulaire-de-contact {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 806.62px;
  top: 512px;
  width: 481.61px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-4 {
  background: #000000;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 200px;
  position: absolute;
  left: 947.9px;
  top: 722px;
}
.contact3 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email {
  width: 212px;
  height: 212px;
  position: absolute;
  left: 941.9px;
  top: 290px;
  object-fit: cover;
  aspect-ratio: 1;
}
